.boton-cancelar {
  background-color: #6c757d; 
  color: #f0e7e7;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  width: 35px; 
  height: 35px;
}

.boton-cancelar:hover {
  background-color: #5a6268; 
}

.boton-cancelar svg {
  width: 16px;
  height: 16px;
}