.boton-eliminar {
  background-color: #dc3545;
  color: #f0e7e7;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.boton-eliminar:hover {
  background-color: #cc2d3d;
}

.boton-eliminar svg {
  width: 16px;
  height: 16px;
}