.tooltip-container {
    background-color: white;
    padding: 1rem;
    font-size: 0.875rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
}

.tooltip-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.tooltip-date-label {
    font-size: 1.25rem;
}

.tooltip-total-label {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.tooltip-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    margin-top: 0.5rem;
}

.tooltip-item-row {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.tooltip-color-box {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.25rem;
}

.tooltip-item-details {
    width: 100%;
}

.tooltip-item-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.tooltip-item-name {
    white-space: nowrap;
    text-align: right;
    color: #4a5568;
    font-size: 1.125rem;
}

.tooltip-item-value {
    white-space: nowrap;
    text-align: right;
    font-weight: 500;
    color: #2d3748;
    font-size: 1.125rem;
}

.chart-legend-container {
    text-align: right;
    margin-bottom: 0.9375rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.chart-legend-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.chart-legend-item {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.chart-legend-color-box {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.25rem;
}

.chart-legend-name {
    font-size: 0.9em;
    color: black;
}