.datos-donutchart {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.columnx3 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: calc(33.33% - 10px); 
}

.row {
  margin: 5px 0;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.tittle-donutchart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 20px;
    border-bottom: 2px solid #ccc;
}

.tittle-donutchart h3 {
    margin: 0;
    font-size: 16px;
    color: rgb(132, 132, 132);
}

.number {
    font-size: 18px;
    font-weight: 600;
    color: rgb(101, 101, 101);
    margin-right: 5px;
}
