.boton-accion {
  background-color: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-accion:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}