.col-serie {
    min-width: 100px;
    width: 100px;
}

.col-concepto-movimiento{
    min-width: 100px;
    width: 100px;
}

.col-numero {
    min-width: 120px;
    width: 120px;
}

.col-ruc {
    min-width: 130px;
    width: 130px;
}

.col-nombre-proveedor {
    min-width: 200px;
    width: 200px;
}

.nuevo-movimiento-section {
    display: flex;
    justify-content: flex-end;
}

.col-nombre-empresa {
    min-width: 150px;
    width: 150px;
}