body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.change-password {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fondo.webp'); 
    background-size: cover;
    background-position: center;
}

.change-password::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.change-password > * {
    position: relative;
    z-index: 2; 
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}
.form-container {
    text-align: center;
    margin: 50px;
}

.change-password form {
    padding: 40px;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(2, 0, 69, 0.3);
    border: 1px solid white;
}

.change-password form label {
    color: white;
    font-size: 16px;
}

.change-password form h2 {
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}

.form-change-password {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px;
  font-family: 'Montserrat', sans-serif;
}

.form-change-password h1 {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
}

.change-password 
.requerimientos p {
    margin: 0; 
    color: white;
    font-size: 8px;
    text-align: justify;
    margin-bottom: 10px;
}

.change-password form input {
    border-radius: 4px; 
    border: 1px solid #ccc; 
    background-color: rgba(253, 253, 253, 0.7); 
    color: rgb(116, 112, 112); 
}

.parent-container {
  text-align: left;
}

.btn-change-password {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 20px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid #ccc; 
    background-color: rgba(0, 0, 0, 0.3); 
}

.btn-change-password:hover {
  background-color: rgba(0, 0, 0, 0.5); 
  border-color: #888;
}

.error {
    color: red;
    text-align: center;
    font-size: 10px;
}

.success {
    color: green;
    text-align: center;
    font-size: 10px;
}
