.login-container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.login-image-section {
  flex: 56;
  background: url('../img/portada.webp') no-repeat center center;
  background-size: cover;
}

.login-form-section {
  flex: 44;
  display: flex;
  background: url('../img/degradado.webp') no-repeat center center;
  background-size: 100% 100%; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-image {
  position: absolute;
  bottom: 0;
  left: 54.5%;
  transform: translateX(-50%);
  max-height: 55%;
  z-index: 10;
}

.login-form-section .login-logo {
  width: 30%; 
  height: auto;
  margin-bottom: 40px;
}

.login-form-section h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--azul-oscuro);
  margin-top: 10px;
  margin-bottom: 1px;
}

.login-form-section p {
  font-size: 1.1rem;
  color: var(--gris-oscuro);
  margin-bottom: 40px; 
}

.login-form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-container {
  width: 72%;
  position: relative;
}

.input-container input {
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #d6e3ec;
  padding: 12px;
  padding-left: 20px;
  font-family: 'Montserrat';
  font-size: 0.95rem;
  font-weight: 300;
  box-sizing: border-box;
}

.input-container input::placeholder {
  color: #838383;
}

.password-container input {
  padding-right: 100px;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-40%);
  cursor: pointer;
  color: #777;
  z-index: 2;
}

.recuerdame {
  margin-top: 15px;
  margin-bottom: 50px;
}

.custom-checkbox-label {
  color: var(--gris-oscuro);
}



/* -------------------RESPONSIVE-------------------- */

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .login-image-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .login-form-section {
    position: relative;
    z-index: 2;
    width: 75%;
    max-height: 75%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .centered-image {
    display: block; 
    bottom: 20px; 
    left: 10px;  
    transform: none;
    max-height: 28%;
    width: auto;
  }

  .login-form-section .login-logo {
    width: 50%; 
    height: auto;
    margin-bottom: 10px;
  }

  .login-form-section p {
    font-size: 0.9rem;
    color: #707070;
    margin-bottom: 25px; 
  }

  .input-container {
    width: 90%;
    position: relative;
  }

}