
.label {
    font-size: 14px;
}
.input-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    margin: 10px 0;
}

.input-checkbox input {
    margin-right: 10px;
    transform: scale(1.2);
    margin-top: 14px;
}

.input-checkbox:hover {
    opacity: 0.8;
}
